﻿@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<h5>Good bye @TempData["userName"] :)</h5>

<form asp-action="Login" asp-controller="Auth" method="post">
   @*  <input type="hidden" name="id" value="@item.Isbn" /> *@
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<form asp-action="Books" asp-controller="Auth" method="post">
    @*  <input type="hidden" name="id" value="@item.Isbn" /> *@
    <button type="submit" class="btn btn-primary">Books</button>
</form>


