@{
    ViewData["Title"] = "Create";
}

<h1>Payment</h1>

<h4>Please enter your details</h4>
<h5 style="color:red;">@ViewBag.Error</h5>
<h5 style="color:red;">@ViewBag.Payment</h5>
<h5 style="color:red;">@TempData["TotalPayment"]</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">

            <div class="form-group">
                <label class="control-label">Name On Card</label>
                <input name="nameOnCard" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Card Number</label>
                <input name="cardNumber" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">CVV</label>
                <input name="cvv" class="form-control" />
            </div>

            <div class="form-group">
                <input name="btnPay" type="submit" value="Pay" class="btn btn-primary" />
            </div>



        </form>
    </div>
</div>

